.profile-header {
  text-align: center;
}

.profile-bio {
  text-align: center;
  margin-bottom: 44px;
}

.profile-avatar {
  margin-top: 20px;
  max-width: 80px;
  max-height: 80px;
}

.profile-update-list {
  list-style: none;
  margin-top: 0;
  padding-left: 14px;
}

.profile-update-list li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: darkgray;
  overflow: hidden;
}

.edit-profile-link {
  margin-top: 8px;
  text-align: right;
  & a {
    text-decoration: none;
    font-weight: 400;
    border: solid;
    border-width: 2px;
    border-color: gray;
    color: gray;
    padding: 5px;
    border-radius: 8%;
  }
}