.bork-form textarea {
  width: 100%;
  height: 84px;
  margin: 14px 0;
  box-sizing: border-box;
}

.commenting-on {
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
  margin-bottom: 40px;
}