.password-form input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.password-form input[type=submit] {
  width: 100%;
  background-color: green;
  border: none;
  color: white;
  padding: 16px 20px;
}
