.wallet-balance {
  text-align: center;
  margin: 60px 0;
  & h1 {
    font-weight: 300;
  }
}

.wallet-buttons {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  & button {
    min-width: 160px;
    font-size: 1.2rem;
    padding: 10px;;
    border-radius: 6%;
  }
}

.tx-list {
  list-style: none;
  padding-left: 0;
  & li {
    padding: 20px 0;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: lightgray;
    overflow: hidden;
  }
}

.tx-amount {
  text-align: right;
  float: right;
}
