.bork-header {
  margin-left: 14px;
  margin-right: 14px;
}

.bork-username {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.bork-useraddress {
  text-decoration: none;
  color: gray;
}

.bork-content-small {
  margin-left: 78px;
  word-wrap: break-word;
}

.sub-bork-content {
  margin-left: 14px;
  margin-right: 14px;
}

.bork-body-link {
  text-decoration: none;
  color: black;
  & h2 {
    font-weight: 400;
  }
}

.bork-preview-ref {
  margin-left: 20px;
  color: gray;
  & svg {
    padding-right: 12px;
  }
}

.sub-bork {
  margin: 0 20px 20px 80px;
  border: solid;
  border-width: 1px;
  border-color: lightgray;
}

.bork-footer-small {
  margin-left: 78px;
  padding-top: 14px;
}
