.user-list {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
  & li {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: lightgray;
    overflow: hidden;
  }
}

.user-item {
  margin: 14px;
}

.user-item-avatar {
  position: relative;
  float: left;
  margin-right: 14px;
  margin-bottom: 14px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}

.user-item-follow {
  position: relative;
  float: right;
  margin-right: 14px;
  background-color: blue;
  color: white;
  padding: 4px 10px;
  font-size: 1rem;
  border-radius: 8%;
}
