.profile-header {
  text-align: center;
}

.profile-bio {
  margin-bottom: 28px;
}

.profile-avatar {
  margin-top: 20px;
  max-width: 80px;
  max-height: 80px;
}

.profile-update-list {
  list-style: none;
  margin-top: 0;
  padding-left: 14px;
}

.profile-update-list li {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: darkgray;
  overflow: hidden;
}