.bork-header {
  margin-left: 14px;
}

.bork-avatar {
  position: relative;
  float: left;
  margin-right: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.bork-username {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.bork-useraddress {
  text-decoration: none;
  color: gray;
}

.bork-content {
  margin-left: 14px;
}

.bork-border {
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
}

.bork-body-link {
  text-decoration: none;
  color: black;
  & h2 {
    font-weight: 400;
  }
}

.bork-stats {
  font-weight: bold;
  & span {
    font-weight: normal;
    color: gray;
    margin-right: 14px;
  }
}

.bork-ref {
  padding-top: 12px;
  margin-left: 20px;
  color: gray;
  & svg {
    padding-right: 12px;
  }
}

.bork-footer {
  padding-top: 14px;
  text-align: center;
}
