.page-content {
  padding: 16px;
}

.textarea {
  width: 100%;
  height: 80px;
  font-size: 1.4rem;
  margin-bottom: 14px;
}

.list-avatar {
  position: relative;
  float: left;
  margin-right: 14px;
  margin-bottom: 14px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  object-fit: cover;
}

.fab {
  position: fixed;
  bottom: 40px;
  right: 40px;
  & img {
    max-width: 70px;
  }
}

.standard-button {
  min-width: 160px;
  font-size: 1.2rem;
  padding: 10px;
  border-radius: 6%;
  border-color: gray;
}

.small-button {
  min-width: 80px;
  font-size: .9rem;
  padding: 7px;
  border-radius: 10%;
  border-color: gray;
}
