.start-page {
  width: 100%;
  text-align: center;
  & h1 {
    font-size: 3.6rem;
    margin-bottom: 12px;
    span {
      font-size: 1rem;
    }
  }
  & img {
    margin-bottom: 40px;
  }
  & button {
    min-width: 160px;
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 6%;
    & a {
      text-decoration: none;
    }
  }
}

.home-logo {
  max-width: 100px;
}