.checkout-modal-content {
  & h1 {
    margin-top: 0;
  }
}

.checkout-form input[type=password] {
  width: 100%;
  padding: 8px;
  font-size: .7rem;
  margin-bottom: 36px;
  box-sizing: border-box;
}
