.post-header {
  margin-left: 14px;
}

.post-avatar {
  position: relative;
  float: left;
  margin-right: 14px;
  max-width: 50px;
  max-height: 50px;
  border-radius: 50px;
}

.post-username {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.post-useraddress {
  text-decoration: none;
  color: gray;
}

.post-content-main {
  margin-left: 14px;
}

.post-content-small {
  margin-left: 78px
}

.post-border {
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgray;
}

.post-body-link {
  text-decoration: none;
  color: black;
  & h2 {
    font-weight: 400;
  }
}

.post-stats {
  font-weight: bold;
  & span {
    font-weight: normal;
    color: gray;
    margin-right: 14px;
  }
}

.post-footer {
  padding-top: 14px;
  text-align: center;
}

.post-footer-small {
  margin-left: 78px;
  padding-top: 14px;
}
